In [1]:
import pandas as pd
df= pd.read_excel(r'C:\Users\Surface Laptop Go\Downloads\British Airways Summer Schedule Dataset - Forage Data Science Task 1.xlsx')
df.head()

,FLIGHT_DATE,FLIGHT_TIME,TIME_OF_DAY,AIRLINE_CD,FLIGHT_NO,DEPARTURE_STATION_CD,ARRIVAL_STATION_CD,ARRIVAL_COUNTRY,ARRIVAL_REGION,HAUL,AIRCRAFT_TYPE,FIRST_CLASS_SEATS,BUSINESS_CLASS_SEATS,ECONOMY_SEATS,TIER1_ELIGIBLE_PAX,TIER2_ELIGIBLE_PAX,TIER3_ELIGIBLE_PAX
0,2025-09-02,14:19:00,Afternoon,BA,BA5211,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,10,38
1,2025-06-10,06:42:00,Morning,BA,BA7282,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,7,28
2,2025-10-27,15:33:00,Afternoon,BA,BA1896,LHR,FRA,Germany,Europe,SHORT,A320,0,17,163,0,11,40
3,2025-06-15,18:29:00,Evening,BA,BA5497,LHR,IST,Turkey,Europe,SHORT,A320,0,8,172,0,16,54
4,2025-08-25,20:35:00,Evening,BA,BA1493,LHR,FRA,Germany,Europe,SHORT,A320,0,13,167,0,6,27

In [4]:
import pandas as pd
df= pd.read_excel(r'C:\Users\Surface Laptop Go\Downloads\British Airways Summer Schedule Dataset - Forage Data Science Task 1.xlsx')
def assign_tiers(row):
    if row['HAUL']=='LONG':
        return pd.Series({'Tier1%' : 5 , 'Tier2%': 15 , 'Tier3%' : 30})
    else:
        return pd.Series({ 'Tier1%' :1 , 'Tier2%' : 5 , 'Tier3%' :20})
tier_estimates = df.apply(assign_tiers,axis=1)

lookup_table =pd.concat([
    df[['FLIGHT_NO' , 'FLIGHT_TIME','ARRIVAL_STATION_CD','HAUL']].rename(columns={
        'FLIGHT_NO':'Flight No',
        'FLIGHT_TIME': 'Departure Time',
        'ARRIVAL_STATION_CD':'Destination',
        'HAUL': 'Category'
    }),
    tier_estimates
],axis =1)
lookup_table.head()
lookup_table.to_csv('ba_lounge_lookup_table.csv', index=False)

In [5]:
lookup_table.head(10)  # show first 10 rows

  Flight No Departure Time Destination Category  Tier1%  Tier2%  Tier3%
0    BA5211       14:19:00         LAX     LONG       5      15      30
1    BA7282       06:42:00         LAX     LONG       5      15      30
2    BA1896       15:33:00         FRA    SHORT       1       5      20
3    BA5497       18:29:00         IST    SHORT       1       5      20
4    BA1493       20:35:00         FRA    SHORT       1       5      20
5    BA4954       19:08:00         VIE    SHORT       1       5      20
6    BA9840       21:44:00         AMS    SHORT       1       5      20
7    BA7116       14:50:00         ORD     LONG       5      15      30
8    BA4424       12:13:00         FRA    SHORT       1       5      20
9    BA4878       09:55:00         IST    SHORT       1       5      20

In [6]:
import os
print(os.getcwd())

C:\Users\Surface Laptop Go

In [7]:
# 1. Export to HTML
lookup_table.to_html('ba_lounge_lookup_table.html', index=False)